html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: #F2F2F2;
}

@import url('../font/stylesheet.css');

body {
    background: #161415;
    font-family: 'Tactic Sans Extra Extended';
}


@import url('https://fonts.cdnfonts.com/css/satoshi');


/* header css 
=============================================== */

.navbar-nav .nav-item .nav-link {

    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
}



.container.apr-navbar {
    @media(max-width: 576px) {
        background: none;
        gap: 16px;
    }

    .navbar-brand {
        @media(max-width: 576px) {
            display: none;
        }
    }

    .logo-mobile img {
        width: 100px;
    }

    .logo-mobile {
        display: none;

        @media(max-width: 576px) {
            display: block;
        }
    }

    .navbar-toggler-icon {
        @media(max-width: 576px) {
            display: none;
        }
    }

    .menu-mobile {
        display: none;

        @media(max-width: 576px) {
            display: block;
        }
    }
}

.donate-link {
    @media(max-width: 576px) {
        display: none;
    }
}

.header-nav {
    @media(max-width: 576px) {
        width: 100%;

        .nav-link {
            color: #fff;
        }
    }

}

.apr-header {
    @media(max-width: 576px) {
        background: #161415;
        position: absolute;
        width: 100%;
        top: 0px  !important;
    }
}

@media (max-width:576px){
    .nav-link{
        color: #ffffff !important;
        padding-left: 30px;
        font-family: 'Satoshi', sans-serif;
        font-size: 14px !important;
        margin-bottom: 20px;
    }
    
}


/* comman css  */

.font-50 {
    font-size: 50px !important;
}

.font-14 {
    font-size: 14px;
}

.list-style-none {
    list-style: none;
}


.color-gray-custom {
    color: #565656;
}

.flex-none {
    flex: none;
}

/* apr banner css 
===================================== */

.apr-main-section {
    position: relative;
}

.apr-banner {
    background: linear-gradient(180deg, rgba(22, 20, 21, 0) 0%, #161415 100%), url(https://i.imgur.com/KBTA779.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-top: -72px;
    padding: 0 16px;
}

.apr-header {
    position: sticky;
    top: 45px;
    z-index: 9999;
}

.apr-navbar {
    background-color: #F2F2F2;
    border-radius: 70px;
    padding: 10px;
    box-shadow: 0 0 10px #161415;
}

.logo-bar {
    padding-left: 30px;
}

.donate-btn {
    background-color: #164576;
    border: 1px solid #F2F2F2;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 70px;
    box-shadow: 0px 0px 4px 0px #00000040;
    padding: 6px 35px;
}

.donate-btn:hover {
    background-color: #10365f;
    color: #FFFFFF;
}

.section-padding {
    padding: 100px 0;
}

.pb-2 {
    padding-bottom: 200px !important;
}

.max-width-1050 {
    max-width: 1050px;
}

.about-apr p {
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Satoshi', sans-serif;
    text-transform: uppercase;

}

.football-img {
    background-image: url('../img/png/football-img.png');

}

.basketball-img {
    background-image: url('../img/png/basketball-img.png');
}

.track-img {
    background-image: url('../img/png/track-img.png');
}

.sport-img-box {
    width: 100%;
    height: 100%;
    height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sport-name-heading {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;

}

.explore-btn {
    font-size: 14px;
    color: #FFFFFF;
    border: 2px solid #ffffff;
    padding: 10px 40px;
    border-radius: 70px;
    background-color: transparent;
}

.explore-btn:hover {
    background-color: #164576;
    color: #FFFFFF;
}

.the-facility-img-box {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://i.imgur.com/KBTA779.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.incredible-partners {
    padding: 150px 0px;
}

.incredible-partners-heading {
    color: #F2F2F2;
    font-size: 30px;
    font-weight: 600;
}

.incredible-partners-logos {
    display: flex;
    max-width: 1080px;
    margin: auto;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 0 33px;
    grid-gap: 16px;
    row-gap: 50px;
}

.click-to-donate-box {
    background: #00000099 url('../img/png/donate-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.click-to-donate-heading {
    color: #F2F2F2;
    font-size: 60px;
    font-weight: 600;
}

.donate-white-btn {
    color: #161415;
    padding: 8px 40px;
    border-radius: 11px;
    font-size: 16px;
    font-weight: 600;
}

.apr-footer {
    margin-top: 35px;
    border-top: 2px solid #164576;
    padding: 30px 0px;
}

.click-to-donate-content {
    margin-left: 200px;
}

.apr-footer-logo {
    padding-bottom: 30px;
    border-bottom: 1px solid #FFFFFF;
}

.apr-copyright {
    color: #898989;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

@media(max-width:1500px) {
    .click-to-donate-content {
        margin-left: 0;
    }
}

@media(max-width:992px) {
    .the-facility-img-box {
        height: 720px;
    }

    .text-center-md {
        text-align: center;
    }

    .incredible-partners-logos {
        grid-template-columns: repeat(3, auto);
        justify-content: center;
    }

}

@media(max-width:768px) {
    .the-facility-img-box {
        height: 200px;
        background-position: center;
    }

    .sport-img-box {
        height: 200px;
        background-position: center;
    }

    .the-facility-img-box h3 {
        font-size: 30px !important;
    }

    .about-apr p {
        font-size: 14px;
        line-height: 1.7;
        font-weight: 500;
        padding: 0 16px;
    }

    .d-done-sm {
        display: none;
    }

    .click-to-donate-heading {
        font-size: 50px;
    }

    .apr-banner {
        height: 80vh;
    }

    .section-padding {
        padding: 0px 0px 65px 0;
    }
}


/* contact css 
=================================================== */
.donation-banner {
    background-image: url(https://i.imgur.com/0HWcP9K.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media(max-width: 768px) {
        height: 100%;
    }
}

.banner-form {
    text-align: center;
    padding-top: 146px;
    padding-bottom: 40px;
    /* @media(max-width: 768px){
        padding-bottom: 40px;
     } */
}

.banner-form h2 {
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
}

.form-donation {
    width: 555px;
    /* height: 474px; */
    background: #ddd;
    margin: auto;
    margin-top: 75px;
    border-radius: 40px;
    padding: 76px 55px 59px;

    @media(max-width: 768px) {
        width: 325px;
        padding: 47px 26px 40px;
    }
}

.form-donation .form-group {
    margin-bottom: 30px;

    @media(max-width: 768px) {
        margin-bottom: 17px;
    }
}

.submit {
    margin-top: 25px;
}

.form-donation .form-group input,
.form-donation .form-group select {
    font-size: 17px;
    min-height: 56px;
}

.submit .btn {
    background: #164576;
    border: 1px solid #164576;
    width: 207px;
    height: 56px;
    border-radius: 9px;
    font-size: 17px;
}

/* footer css 
=================================================== */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
    flex-wrap: wrap;
    padding: 0 26px;

    @media(max-width: 576px) {
        flex-direction: column;
        align-items: baseline;
    }
}
.footer-logo{
    padding: 0 26px;
}
.footer-items{
    font-size: 14px;
    font-family: 'Satoshi', sans-serif;
}
.footer-contect{
    font-size: 10px;
    color: #D4D5D9;
    font-family: 'Satoshi', sans-serif;
}
.contact-details {
    display: none;

    @media(max-width: 576px) {
        display: block;
    }
}

.media-link {
    display: flex;

    @media(max-width: 576px) {
        display: none;
    }
}

.contact-details .form-group label {
    color: #D4D5D9;
    font-size: 10px;
    font-weight: 700;
}

.contact-details .form-group p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.contact-details .form-group:last-child p {
    font-weight: 700;
}

.contact-details .form-group {
    margin-bottom: 10px;
}

.apr-footer-logo {
    @media(max-width: 576px) {
        display: none;
    }
}

.footer-logo {
    display: none;

    @media(max-width: 576px) {
        display: block;
    }
}

/* --------------- explore-section ----------- */

/* .explore-section:hover {
    cursor: pointer;
    transform: scale(1.01)
} */


/* football , basketball and track  css 
======================================== */
.football-banner{
    background:  linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/png/football-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-top: -72px;
    padding: 0 16px;
}
.basketball-banner{
    background:   linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/png/basketball-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-top: -72px;
    padding: 0 16px;
}
.track-banner{
    background:   url(../img/png/track-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-top: -72px;
    padding: 0 16px;
}

.apr-sport-name{
    font-size: 112px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
}

.sport-contant-us{
    padding: 64px 10px;
    border-top: 5px solid  #ffffff;
}
.sport-contant-us p {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Satoshi', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
}
.contact-white-btn{
    font-size: 13px;
    font-weight: 400;
    color: #000000;
    padding: 14px 40px;
    background-color: #f2f2f2;
    border: 2px solid #F2F2F2;
    border-radius: 70px;
    margin-top: 40px;
    letter-spacing: 0.5px;
}
.sport-img-1{
    background-image: url(../img/png/sport-img1.png);
}
.sport-img-2{
    background-image: url(../img/png/sport-img2.png);
}
.sport-img-3{
    background-image: url(../img/png/sport-img3.png);
}

.basketball-img-1{
    background-image: url(../img/png/basketball-img1.png);
}
.basketball-img-2{
    background-image: url(../img/png/basketball-img2.png);
}
.basketball-img-3{
    background-image: url(../img/png/basketball-img3.png);
}

.track-img-1{
    background-image: url(../img/png/track-img1.png);
}

.track-img-2{
    background-image: url(../img/png/track-img2.png);
}

.track-img-3{
    background-image: url(../img/png/track-img3.png);
}
.sports-services-section{
    padding: 100px 16px;
}
.sport-services-accordion{
    margin-top: 75px;
}
.sport-services-heading{
    font-size: 100px;
    font-weight: 600;
    color: #F2F2F2;
    text-transform: uppercase;
    letter-spacing: -5px;
}
.sport-services-text{
    font-size: 32px;
    font-weight: 900;
    font-family: 'Satoshi', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}
.apr-sports-img{
    width: 100%;
    height: 100%;
    height: 525px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* football css   responsive 
======================================= */

@media(max-width: 1190px){
    .apr-sport-name{
        font-size: 80px;
    }
    .sport-services-heading{
        font-size: 75px;
    }
}
@media(max-width:768px){
    .apr-sport-name{
        font-size: 34px;
    }
    .football-banner{
        height: 70vh;
    }
   
    .sport-services-heading{
        font-size: 42px;
    }
    .sport-contant-us {
        border: 0;
        padding: 0px 16px 64px 10px;
        margin-top: -80px;
        position: relative;

    }
    .football-banner{
        background-position: center;
    }
}